body{

margin:0;
background:#111;
color:white;
font-family:'Press Start 2P', cursive;

}



header{

text-align:center;
padding:40px;
background:#ff3c00;

}



nav{

display:flex;
justify-content:center;
gap:40px;
padding:20px;
background:#222;

}



nav a{

color:white;
text-decoration:none;

}



nav a.selected::before{

content:"> ";
color:#ffcc00;

}



section{

padding:50px;
text-align:center;

}



.menu{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
margin-top:30px;

}



.item{

background:#222;
padding:20px;
border:3px solid #ff3c00;
cursor:pointer;
transition:.2s;

}



.item:hover{

transform:scale(1.08);
box-shadow:0 0 15px #ff3c00;

}



.item img{

width:100%;
border-radius:6px;
margin-bottom:10px;

}



.order-button{

padding:20px 40px;
font-size:16px;
background:#ff3c00;
border:none;
color:white;
cursor:pointer;

}



footer{

text-align:center;
padding:20px;
background:#222;

}



/* START SCREEN */

.start-screen{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:url("images/splash.png");
background-size:cover;
background-position:center;

z-index:999;

}



/* CLICKABLE PRESS START ZONE */

.start-button{

position:absolute;

bottom:70px;
left:50%;

transform:translateX(-50%);

width:300px;
height:80px;

cursor:pointer;

}



/* MOBILE */

@media (max-width:768px){

nav{

flex-direction:column;
gap:15px;

}

.menu{

grid-template-columns:1fr;

}

section{

padding:25px;

}

}

