body{

margin:0;
background:#111;
color:white;
font-family:'Press Start 2P', cursive;

}

header{

text-align:center;
padding:40px;
background:#ff3c00;

}

nav{

display:flex;
justify-content:center;
gap:40px;
padding:20px;
background:#222;

}

nav a{

color:white;
text-decoration:none;
position:relative;

}

nav a.selected::before{

content:"> ";
color:#ffcc00;

}

section{

padding:50px;
text-align:center;

}

.menu{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
margin-top:30px;

}

.item{

background:#222;
padding:25px;
border:3px solid #ff3c00;
transition:transform .2s, box-shadow .2s;
cursor:pointer;

}

.item:hover{

transform:scale(1.1);
box-shadow:0 0 15px #ff3c00;

}

.order-button{

padding:20px 40px;
font-size:16px;
background:#ff3c00;
border:none;
color:white;
cursor:pointer;

}

footer{

text-align:center;
padding:20px;
background:#222;

}


/* START SCREEN */

.start-screen{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:url("images/splash.png");
background-size:cover;
background-position:center;

z-index:999;

}


/* INVISIBLE PRESS START HITBOX */

.start-button{

position:absolute;

/* adjust these to match your artwork */
bottom:90px;
left:50%;

transform:translateX(-50%);

width:300px;
height:80px;

cursor:pointer;

}



.start-button:hover{

box-shadow:0 0 20px #ffb300;
border-radius:8px;

}

